<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1620071114.654665</real>
	<key>UUID</key>
	<string>A01966EC-9E6F-4DB4-8DB6-2310D5D714B9</string>
</dict>
</plist>
