<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1619797461.961241</real>
	<key>UUID</key>
	<string>68434DEF-E609-46DF-969C-DA219CBDC7C4</string>
</dict>
</plist>
