<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1619900628.417743</real>
	<key>UUID</key>
	<string>DA199BAC-06E2-4612-831D-1BB810C72E1F</string>
</dict>
</plist>
