<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1632456235.994442</real>
	<key>UUID</key>
	<string>106DE9F4-38BC-4F55-8CF7-3F0E6ED5E857</string>
</dict>
</plist>
