<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1619795396.2381959</real>
	<key>UUID</key>
	<string>1EB95CDC-8BF0-4A87-9B13-01E7B4CDEFD0</string>
</dict>
</plist>
