<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1619795688.59746</real>
	<key>UUID</key>
	<string>8BCA7074-E993-480E-B36C-3A5B8283FB3B</string>
</dict>
</plist>
