<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1631412144.975251</real>
	<key>UUID</key>
	<string>8B22BB3A-EB87-49A1-B6DC-A658C3A63729</string>
</dict>
</plist>
