<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1619795298.406837</real>
	<key>UUID</key>
	<string>37B83B1F-0EAC-4C88-9F5E-B038FBF98F29</string>
</dict>
</plist>
