<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1619795419.7064891</real>
	<key>UUID</key>
	<string>613387B5-635D-4623-9E03-9A51C14B2FC5</string>
</dict>
</plist>
