<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1620369513.6094489</real>
	<key>UUID</key>
	<string>64579CB6-174B-4E14-B080-65D06E14C600</string>
</dict>
</plist>
