<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>57</integer>
	<key>Time Stamp</key>
	<real>1632407248.2410979</real>
	<key>UUID</key>
	<string>3E3E7A52-A06A-4AB6-A2FC-1526BCA3BDB6</string>
</dict>
</plist>
